@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  box-sizing: border-box;
}

img {
  height: 100px;
  width: 100px;
}
body {
  height: 100%;
  width: 100%;
  background-color: #eef9bf;
  color: #75b79e;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 63px;
  width: 100%;

  margin: 40px 0px 47px 0px;
}
h1 {
  font-family: Roboto;
  font-size: 56px;
  font-weight: 700;
  line-height: 66px;
  letter-spacing: -0.004em;
  text-align: center;
}
h2 {
  display: none;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: -0.004em;
  text-align: center;
}

section {
  /*background-color: lightcoral;*/
  height: 100%;
  width: 100%;

  padding-right: 186px;
  display: flex;
  justify-content: center; /*conferir melhor op*/
  align-items: stretch;
  flex-wrap: wrap;
}

.card {
  height: 146px;
  width: 117px;
  margin: 0px 34px 34px 0px;
  position: relative;

  height: 146px;

  left: 122px;

  border-radius: 5px;
}

.face {
  height: 146px;
  width: 117px;
  background-color: #a7e9af;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  border: 1px solid #99cea8;

  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;

  position: absolute;
  backface-visibility: hidden;

  transition: all 0.5s;
  transform-style: preserve-3d;
}

.card-front {
  transform: rotateY(180deg);
}

.turn .card-front {
  transform: rotateY(0deg);
}

.turn .card-back {
  transform: rotateY(-180deg);
}

.disabled-card {
  filter: saturate(0);
  opacity: 0.5;
}

@media (max-width: 414px) {
  h1 {
    display: none;
  }
  h2 {
    display: inline;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: -0.004em;
    text-align: center;
  }

  section {
    /* background-color: lightcoral;*/
    height: 100%;
    width: 100%;

    padding-right: 300px;
    display: flex;
    justify-content: center; /*conferir melhor op*/
    align-items: stretch;
    flex-wrap: wrap;
  }
}
